html{
    background-color: black;
}
body{
    min-width: 100vh;
    height: 100%;
    font-family: serif;
    background-color: black;
    margin:0;
    /* display: flex;
    flex-direction: column; */
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(72, 69, 69);
    color: white;
    align-items: center;
    margin: 0;
    border-style: none;
}


.header .name{
    display: flex;
    margin: 0;
    margin-left: 50px;
    gap:15px;
    padding-top: 5px;
}
.header .name h1{

    font-size: 48px;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff;
    padding: 0;
    margin: 0;

}
.name img{
    height: 50px;
    border-radius: 30px;
}

.header .nav-bar{
    display:flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.nav-bar button{
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    height: 30px;
    background-color: rgb(72, 69, 69);
    color: white;
    font-size: 25px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff;
}


/* img1 */
.img1{
    display: flex;
    /* https://www.uhdpaper.com/2022/04/night-city-cityscape-building-4k-9300f.html?m=0 */
    background-image: url(images/night-city-cityscape-building-scenery-digital-art-4k-wallpaper-uhdpaper.com-930@0@f.jpg);
    height: 80vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    color: white;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img1 h1, .projects h1{
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(122, 128, 126);
}

/* Biography section */
.biography{
    display: flex;
    background-color: rgb(79, 77, 77);
    justify-content: space-evenly;
    flex-shrink: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.biography .bio-text{
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.bio-text h1, .skills h1{
    font-size: 46px;
    text-shadow:
        0 0 7px #ffffff5b,
        0 0 10px #ffffff00;
}

.bio-text p{
    font-size: 20px;
    margin-bottom: 10px;
}

.bio-text .skills{
    display: flex;
    flex-wrap: wrap;
}

.skill-containers{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.skill-containers div{

    padding: 16px 32px;
    margin-bottom: 24px;
    margin-right: 24px;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: white;
}

/* Projects */
/* https://giphy.com/gifs/spcity-i4jKn7itdV2Tvjzj6Y */

.projects{
    display: flex;
    flex-direction: column;
    /* https://www.uhdpaper.com/2022/04/night-city-cityscape-building-4k-9300f.html?m=0 */
    /* background-image: url(images/gif.gif); */
    background-image: url(images/night-city-cityscape-building-scenery-digital-art-4k-wallpaper-uhdpaper.com-930@0@f.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

}
.pong2, .shell, .phillyNow{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;

}

.pong2 img, .shell img, .phillyNow img{
    height:500px;
    width: 700px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    margin-right: 80px;
    box-shadow: 0 0 50px 15px #9ecce5;
}

.pong2 p, .shell p, .phillyNow p{
    font-size: 20px;
    margin-top: 0;
}
.project-info h2{
    margin-bottom: 10px;
    text-shadow:
        0 0 10px #ffffff5b,
        0 0 20px #ffffff5b,
        0 0 30px #000000b0;

}

.project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    padding: 20px;
    width: 500px;
    background-color:rgb(72, 69, 69);
    height: 200px;
}


.contacts{
    display:flex;

}


.contacts .contact-box{
    color:white;
}

.contact-box img{
    height: 50px;
    width: 50px;
}





